nav.bg-inverse {
    background-color: rgba(51, 51, 51, 1);
}

.col-md-6 {
	font-size:16px;
}

.navbar {
    position: relative;
    padding: .5rem 1rem;
	margin-bottom: 0;
}
.navbar-dark .navbar-nav .nav-link {
    cursor: pointer;
	font-size: 1.2em;
}
.navbar-nav li a {
	color: #EEEEEE
}

.navbar-nav li a:hover {
	background-color: rgba(238, 238, 238, .1);
}
.hidden {
	display: none;
}
p {
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 200;
}

.registration {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}

h1.schedule {
	text-align: center;
}

.jumbotron {
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px;
    width: 1200px;
}

footer {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
